@import url('fontello/css/fontello.css');

body{
    background-color: black;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
#menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#menu > div:nth-child(1){
    font-size: 3em;
    letter-spacing: 5px;
    color: white;
    text-shadow: 5px 5px 5px #3f3f3f;
}
#menu > div:nth-child(2) > div{
    position: relative;
    padding: 20px;
    margin: 5px;
    background-color: #3f3f3f;
    text-shadow: 1px 1px 3px black;
    border-radius: 5px;
}
#menu > div:nth-child(2) > div:hover{
    outline: 1px solid white;
}
#popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3f3f3f;
    z-index: 2;
}
#popup:empty{
    display: none;
}
#darkScreen{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
h1{
    margin: 0;
    padding: 0;
}
table{
    margin: 10px 0;
}
td{
    padding: 5px;
}
#gameCode{
    user-select: none;
    display: inline-block;
    padding: 5px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.coppied{
    position: absolute;
}
.hostOnly{
    display: none;
}
.host .hostOnly{
    display: initial !important;
}